@charset "UTF-8";

@font-face {
    font-family: 'RedHat';
    src: url(../assets/fonts/static/RedHatText-Regular.ttf);
}

@font-face {
    font-family: 'RedHat-Bold';
    src: url(../assets/fonts/static/RedHatText-Bold.ttf);
}

@font-face {
    font-family: 'RedHat-SemiBold';
    src: url(../assets/fonts/static/RedHatText-SemiBold.ttf);
}

:root {
    /* FONTS: */
    --font-family-regular: 'RedHat';
    --font-family-bold: 'RedHat-Bold';
    --font-family-semibold: 'RedHat-SemiBold';

    /* COLORS */
    --body-bg-color: #f7f6f5;
    --aside-bg-color: #fff;
    --aside-title-color: #b47500;
    --card-cart-btn-border: #ae3131;
    --card-add-cart-color: #000;
    --card-category-color: #808080;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-family-regular);
}

body {
    max-width: 1440px;
    margin: 0 auto;
    background-color: var(--body-bg-color);
}

#root {
    padding: 70px;
    display: flex;
    gap: 30px;
}

a {
    color: var(--card-add-cart-color);
}

/* MAIN  */
main {
    width: 70%;
;
}

.header {
    margin-bottom: 20px;
}

.header h1 {
    font-family: var(--font-family-bold);
}

.desserts-cards-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 25px;
}


.desserts-card-body {
    position: relative;
    width: 100%;
    height: 230px;
}

.dessert-card-body, .dessert-card-image {
    width: 100%;
    height: 100%;
    border-radius: 6px;
}

.dessert-card-add-cart {
    position: absolute;
    bottom: -18px;
    left: 20%;
    width: 60%;
    padding: 8px 12px;
    border-radius: 20px;
    background-color: var(--aside-bg-color);
    border: 1px solid var(--card-cart-btn-border);

    display: flex;
    justify-content: center;
    gap: 5px;
    cursor: pointer;
}

.dessert-card-add-cart span {
    font-family: var(--font-family-semibold);
}

.cart-quantity-control {
    position: absolute;
    bottom: -18px;
    left: 20%;
    width: 60%;
    padding: 8px 12px;
    background-color: var(--card-cart-btn-border);
    border-radius: 20px;
    border: 1px solid var(--body-bg-color);

    display: none;
    align-items: center;
    justify-content: space-between;
}

.decrement-btn {
    border: 1px solid var(--body-bg-color);
    border-radius: 50%;
    padding: 8px 4px;
    cursor: pointer;
}

.quantity {
    color: var(--body-bg-color);
}

 .increment-btn {
    border: 1px solid var(--body-bg-color);
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
}

.dessert-card-footer {
    margin-top: 30px;
}

.dessert-category {
    color: var(--card-category-color);
}

.dessert-product {
    font-family: var(--font-family-semibold);
}

.dessert-price {
    font-family: var(--font-family-semibold);
    color: var(--aside-title-color);
}

/* ASIDE */
.aside {
    background-color: var(--aside-bg-color);
    width: 30%;
    min-height: 280px;
    border-radius: 8px;
    padding: 25px;
}

.aside h2, .aside span {
    font-family: var(--font-family-bold);
    color: var(--aside-title-color);
}

.aside-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.aside-container p {
    margin-top: 20px;
    font-family: var(--font-family-semibold);
    font-size: 14px;
    color: var(--aside-title-color);
}

/* MEDIA QUERIES */
@media (min-width: 1001px) {
    .aside {
        align-self: flex-start;
    }
}

@media (min-width: 1001px) and (max-width: 1320px) {
    .desserts-cards-section {
        grid-template-columns: 1fr 1fr;
    }

    .desserts-cards-container {
        width: 100%;
    }
}

@media (min-width: 650px) and (max-width: 1000px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
    }

    .desserts-cards-section {
        grid-template-columns: 1fr 1fr;
    }

    .desserts-cards-container {
        width: 100%;
    }

    main, .aside {
        width: 90%;
    }
}

@media (max-width: 649px) {
    #root {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px 0;
    }

    .desserts-cards-section {
        grid-template-columns: 1fr;
    }

    .desserts-cards-container {
        width: 100%;
    }

    main, .aside {
        width: 90%;
    }    
}